@media screen and (min-width: 769px) and (max-width: 991px) {
    .pack img.all-pack {
        max-width: 50%;
        margin-left: 50%;
        position: relative;
        z-index: 10;
    }
    .cap-top-shape {
        width: 4.25rem !important;
        top: -3rem;
        right: 23%;
    }
    .fs-xxl {
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .pack-75-box {
        width: 40%;
    }
    .pack-21-box {
        width: 30%;
    }
    .pack-75-text {
        top: -1rem;
    }
    .pack-upper-textbox img {
        margin-top: -2.063rem;
    }
    .third-page-icon1 {
        left: -15rem;
    }
    .right-arrow-lg {
        max-width: 15.25rem;
    }
}
@media screen and (max-width: 768px) {
    .fs-md {
        font-size: 0.813rem;
        line-height: 1.125rem;
    }
    .fs-lg {
        font-size: 0.813rem;
        line-height: normal;
    }
    .fs-xl {
        font-size: 1rem;
    }
    .fs-xxl {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .fs-xxl-m {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .fs-xxl-mx {
        font-size: 1.125rem;
        line-height: 1.625rem;
    }
    .w-45 {
        width: 1.875rem;
    }
    .h-40 {
        height: 1.5rem;
    }
    .list-arrow-ico {
        width: 1.25rem;
    }
    .pack {
        margin-left: 0;
    }
    .pack img {
        max-width: 100%;
        margin-left: 1.875rem;
        position: relative;
        z-index: 10;
    }
    .cap-top-shape {
        width: 2rem !important;
        top: -.7rem;
        right: 37%;
    }
    .logo {
        max-width: 3.125rem;
        top: 0.625rem !important;
    }
    .pack-75-text, .pack-21-text {
        font-size: 0.563rem;
        top: -1.25rem;
    }
    .pack-upper-textbox img {
        width: 7.5rem;
        margin-top: -3.125rem;
        display: inline-block;
        margin-left: -0.938rem;
    }
    .pack-variation {
        gap: 1rem;
        font-size: 0.688rem;
        max-width: 4.813rem;
    }
    .color {
        width: 1.25rem;
        height: 1.25rem;
    }
    .mini-text-box {
        width: 8.75rem;
        font-size: 0.688rem;
        line-height: 1rem;
        text-align: right;
        margin-left: auto;
    }
    .fs-normal {
        font-size: 0.688rem;
        line-height: 1rem;
    }
    .infograph-heading {
        font-size: 0.875rem;
    }
    .vertical-border-img {
        max-height: 15.625rem;
    }
    .third-page-icon1 {
        top: 33%;
        left: -13.75rem;
        width: 18.438rem;
    }
    .third-page-icon2 {
        bottom: -1.563rem;
        right: -4.688rem;
        max-width: 9.875rem;
    }
    .right-arrow-lg {
        max-width: 10.938rem;
        top: 6.25rem !important;
    }
    .line-shape {
        max-width: 6.25rem;
    }
    .logo-alt {
        max-width: 9.375rem;
    }
}

@media screen and (max-width: 375px) {
    .fs-xxl-m {
        font-size: 1rem;
        line-height: normal;
    }
    .pack-75-text, .pack-21-text {
        font-size: 0.4rem;
        top: -1.25rem;
    }
    .fs-lg {
        font-size: 0.6rem;
    }
    .fs-xl {
        font-size: .7rem;
    }
    .mini-text-box {
        font-size: 0.5rem;
        line-height: normal;
    }
    .infograph-heading {
        font-size: 0.575rem;
    }
    .w-45 {
        width: 1.4rem;
    }
    .h-40 {
        height: 1.2rem;
    }
    .fs-normal {
        font-size: 0.6rem;
        line-height: normal;
    }
    .fs-xxl-mx {
        font-size: .65rem;
        line-height: normal;
    }
    .pack-21-box img,
    .pack-75-box img {
        width: 70px;
    }
}