@font-face {
    font-family: 'ppsigflow';
    src: url('../fonts/PPSIGFlow-Regular.woff2') format('woff2'),
        /* url('../fonts/PPSIGFlow-Bold.woff2') format('woff2'), */
        /* url('../fonts/PPSIGFlow-SemiBold.woff2') format('woff2'), */

        /* url('../fonts/PPSIGFlow-Bold.woff') format('woff'), */
        url('../fonts/PPSIGFlow-Regular.woff') format('woff'),
        /* url('../fonts/PPSIGFlow-SemiBold.woff') format('woff'), */

        /* url('../fonts/PPSIGFlow-Bold.ttf')  format('truetype'), */
        url('../fonts/PPSIGFlow-Regular.ttf')  format('truetype');
        /*url('../fonts/PPSIGFlow-SemiBold.ttf')  format('truetype'); */
}

/* Typography */
:root {
    --primary: #145EFC;
    --dark-color: #040404;
    --primary-font: 'ppsigflow';
}

body {
    font-family: var(--primary-font);
    position: relative;
    color: var(--dark-color);
}

.color-primary {
    color: var(--primary);
}
.color-dark {
    color: var(--dark-color);
}
.primary-border {
    border-color: var(--primary);
}
.fs-xsm {
    font-size: 14px;
    line-height: 20px;
}
.fs-md {
    font-size: 24px;
    line-height: 32px;
}
.fs-lg {
    font-size: 28px;
    line-height: normal;
}
.fs-xl {
    font-size: 32px;
}
.fs-xxl {
    font-size: 56px;
    line-height: 72px;
}

.pager {
    z-index: 1;
}
#paged {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    position: relative;
}
.page {
    width: 100%;
    height: 100vh;
    padding: 30px;
    position: absolute;
}

.page:nth-child(1) {
    background-color: #F2EFEB;
}

/* First Page */
.pack {
    margin-left: -230px;
}
.pack img {
    max-width: 800px;
}

/* Second page */
.second-page-packs img {
    max-width: 200px;
}
.color {
    width: 30px;
    height: 30px;
    border: 1px solid var(--dark-color);
}
.pack-variation {
    gap: 70px;
    font-size: 24px;
}
.pack-75-text {
    font-size: 18px;
    display: inline-block;
    position: absolute;
    top: -35px;
    right: 65px;
}
.pack-75-box {
    width: 60%;
}
.pack-21-box {
    width: 60%;
}
.pack-upper-textbox {
    margin-top: 25px;
}
.pack-upper-textbox img {
    width: 210px;
    margin-top: -65px;
    display: inline-block;
    margin-left: 50px;
}
.border-img {
    bottom: -5px;
}
.second-slide-textbox {
    max-width: 450px;
}

/* Footer */
footer {
    z-index: 1;
}
.logo {
    max-width: 100px;
}
.navigation button {
    width: 40px;
    height: 40px;
    outline: none;
}
.navigation button:hover, 
.navigation button:active {
    border: 3px solid var(--primary);
    opacity: 1;
}
.btn:disabled, .btn.disabled, fieldset:disabled .btn {
    border: 3px solid var(--primary);
    opacity: .2;
}