@font-face {
    font-family: 'ppsigflow';
    src: url('../fonts/PPSIGFlow-Regular.woff2') format('woff2'),
        /* url('../fonts/PPSIGFlow-Bold.woff2') format('woff2'), */
        /* url('../fonts/PPSIGFlow-SemiBold.woff2') format('woff2'), */

        /* url('../fonts/PPSIGFlow-Bold.woff') format('woff'), */
        url('../fonts/PPSIGFlow-Regular.woff') format('woff'),
        /* url('../fonts/PPSIGFlow-SemiBold.woff') format('woff'), */

        /* url('../fonts/PPSIGFlow-Bold.ttf')  format('truetype'), */
        url('../fonts/PPSIGFlow-Regular.ttf')  format('truetype');
        /*url('../fonts/PPSIGFlow-SemiBold.ttf')  format('truetype'); */
}

/* Typography */
:root {
    --primary: #145EFC;
    --dark-color: #040404;
    --page-bg: #F2EFEB;
    --primary-font: 'ppsigflow';
}
body {
    font-family: var(--primary-font);
    position: relative;
    color: var(--dark-color);
}

.color-primary {
    color: var(--primary);
}
.color-dark {
    color: var(--dark-color);
}
.primary-border {
    border-color: var(--primary);
}
.fs-xsm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.fs-normal {
    font-size: 1.125rem;
    line-height: 24px;
}
.fs-md {
    font-size: 24px;
    line-height: 1.5rem;
}
.fs-lg {
    font-size: 1.75rem;
    line-height: normal;
}
.fs-xl {
    font-size: 2rem;
}
.fs-xxl {
    font-size: 3.5rem;
    line-height: 4.5rem;
}
.w-45 {
    width: 2.813rem;
}
.h-40 {
    height: 2.5rem;
}

.pager {
    z-index: 1;
}
#paged {
    width: 100%;
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.page {
    width: 100%;
    height: 100vh;
    padding: 1.875rem;
    position: absolute;
    transition: opacity 0.5s ease;
}

.page {
    background-color: var(--page-bg);
    overflow: hidden;
    transition: .5s all ease-in-out;
}
.page:nth-child(1) {
    transform: translateY(0);
}
.page:nth-child(2),
.page:nth-child(3),
.page:nth-child(4) {
    transform: translateY(100%);
}

/* First Page */
.pack {
    margin-left: -14.375rem;
}
.pack img {
    width: 100%;
}
.cap-top-shape {
    width: 6.25rem !important;
    top: -3.5rem;
    right: 45%;
}

/* Second page */
.second-page-packs img {
    max-width: 12.5rem;
}
.color {
    width: 1.875rem;
    height: 1.875rem;
    border: 1px solid var(--dark-color);
}
.pack-variation {
    gap: 4.375rem;
    font-size: 1.5rem;
}
.pack-75-text {
    font-size: 1.125rem;
    display: inline-block;
    position: absolute;
    top: -2.188rem;
    right: 4.063rem;
}
.pack-75-box {
    width: 60%;
}
.pack-21-box {
    width: 60%;
}
.pack-upper-textbox {
    margin-top: 1.563rem;
}
.pack-upper-textbox img {
    width: 13.125rem;
    margin-top: -4.063rem;
    display: inline-block;
    margin-left: 3.125rem;
}
.border-img {
    bottom: -5px;
}
.mini-text-box {
    text-align: center;
    margin-left: 0;
}

/* Third Slid */
.vertical-border-img {
    max-height: 28.125rem;
}
.info-grid {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
}
.third-page-icon1 {
    position: absolute;
    top: 6.25rem;
    left: -13.75rem;
}
.third-page-icon2 {
    position: absolute;
    bottom: 12.5rem;
    right: -11.25rem;
}

/* Fourth Page */
.logo-alt {
    max-width: 18.75rem;
}
.right-arrow-lg {
    max-width: 31.25rem;
}
.line-shape {
    max-width: 18.75rem;
}

/* Footer */
footer {
    z-index: 10;
}
#prev, #next {
    background-color: white;
}
.logo {
    max-width: 6.25rem;
}
.navigation button {
    width: 2.5rem;
    height: 2.5rem;
    outline: none;
}
.navigation button:hover, 
.navigation button:active {
    border: 3px solid var(--primary);
    opacity: 1;
}
.btn:disabled, .btn.disabled, fieldset:disabled .btn {
    border: 3px solid var(--primary);
    opacity: .2;
}